h1 {

color: blue;

}

.p1 {

  border: 2px solid black;
}

.p2 {

  border: 2px solid green;
}

.p3 {

  border: 2px solid yellow;
}

.p4 {

  border: 2px solid tomato;
}

.git {

  background-color: tomato;


}
